@charset "UTF-8";
/**
 * 
 * @authors Brad Duan (you@example.org)
 * @date    2018-01-04 15:05:21
 * @version $Id$
 */





.contaier{width:95%; margin:0 auto}
.new-box{width:33.3%;float:left;padding:5px 10px;font-family:微软雅黑;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.new-box .new-box-title{float:left;width:100%;overflow:hidden;border-bottom:#ddd 1px solid}
.new-box .new-box-title .icon-box{display:inline-block;width:35px;float:left;border-right:#ddd 1px dotted;height:22px;margin:10px 0}
.new-box .new-box-title img{position:relative;top:-2px;left:0;width:28px}
.new-box .new-box-title .text-box{display:inline-block;width:100px;font-size:16px;float:left;line-height:42px;text-indent:10px}
.new-box .new-box-title a.more{text-decoration:none;float:right;text-align:center;display:block;position:relative;top:13px;color:#fff;width:50px;float:right;background:#3280fc;height:20px;line-height:20px;font-size:12px;transition:all .3s cubic-bezier(.215,.61,.355,1) 0s}
.new-box .new-box-title a.more:hover{background:#5999fd}
.new-box ul.news-list{padding-left:0;float: left; margin: 10px 0 5px 0; display: block;width: 100%;overflow: hidden;}
.new-box ul.news-list li{text-indent:1.5em;list-style:none;font-size:14px;overflow:hidden;line-height:36px;border-bottom:#ddd 1px dotted;background-image:url(../Imahes/list-title2.png);background-repeat:no-repeat;background-position:0 16px}
.new-box ul.news-list li a{color:#555;transition:all .3s cubic-bezier(.215,.61,.355,1) 0s}
.new-box ul.news-list li a:hover{color:#046eb0}
.new-box ul.news-list li .text-box{width:70%;float:left;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.new-box ul.news-list li .date-box{width:25%;float:right;text-align:right;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;color:#aaa}
.new-box ul.news-list li:last-child{border:none;}
.new-box.news-main-list{width:100%}
.new-box.notice-box{width:100%}
.new-box .out-border{padding:5px 20px;border:#eee 1px solid;overflow: hidden;}

.new-box ul.news-list li.no-notice{font-size: 16px;min-height: 200px;line-height: 200px;text-align: center;border:none;background:none;text-indent: 0;width: 100%;display: none;color: #555;}
.new-box ul.news-list li.no-notice img{position: relative;margin-right: 10px;top: 8px; width: 26px;}

.news-main-content{background:#fafafa;min-height:600px;padding:50px 35px;font-family:微软雅黑}
.news-main-content .title{text-align:center;margin-bottom:35px}
.news-main-content .detail-box{background:#fff;padding:15px;font-size:12px;color:#777}
.news-main-content .detail-box .detail{line-height:24px}
.news-main-content .detail-box .date-box{margin-bottom:10px;padding-bottom:10px;border-bottom:#ddd 1px solid}
.news-main-content .detail-box strong{margin-right:10px}
.news-main-content .news-main-box{font-size:14px;line-height:28px;text-indent:2em;padding:35px 0 55px 0;color:#555;border-bottom:#ddd 1px dotted}
.news-main-content .other-link{padding:30px 0;line-height:36px}
.news-main-content .other-link li{list-style:none;font-size:14px}
.news-main-content .other-link li a{text-decoration:none;color:#aaa;transition:all .3s cubic-bezier(.215,.61,.355,1) 0s}
.news-main-content .other-link li a:hover{color:#046eb0}
.news-main-content .other-link li a span{margin-right:10px}
.news-main-content .other-link span{color:#aaa}



.pager{display:inline-block;padding-left:0;margin:20px 0;list-style:none;font-family:微软雅黑;float: left;padding-left:15px;}
.pager>li{display:inline}
.pager>li>a,.pager>li>span{position:relative;float:left;padding:5px 12px;margin-left:-1px;line-height:1.53846154;text-decoration:none;background-color:#fff;border:1px solid #ddd}
.pager>li:first-child>a,.pager>li:first-child>span{margin-left:0;border-top-left-radius:4px;border-bottom-left-radius:4px}
.pager>li:last-child>a,.pager>li:last-child>span{border-top-right-radius:4px;border-bottom-right-radius:4px}
.pager>li>a:focus,.pager>li>a:hover,.pager>li>span:focus,.pager>li>span:hover{z-index:2;background-color:#e5e5e5}
.pager>li.active>a,.pager>li.active>a:hover,.pager>li.active>span,.pager>li.active>span:hover{z-index:3;color:#fff;cursor:default;background-color:#3280fc;border-color:#3280fc}
.pager>li.disabled>a,.pager>li.disabled>a:focus,.pager>li.disabled>a:hover,.pager>li.disabled>span,.pager>li.disabled>span:focus,.pager>li.disabled>span:hover{color:#ddd;pointer-events:none;cursor:not-allowed;background-color:#fff;border-color:#ddd}
.pager-justify{display:block}
.pager-justify .next>a,.pager-justify .next>span{float:right;border-radius:4px}
.pager-justify .previous>a,.pager-justify .previous>span{float:left;border-radius:4px}
.pager-lg>li>a,.pager-lg>li>span{padding:10px 16px;font-size:17px}
.pager-lg>li:first-child>a,.pager-lg>li:first-child>span{border-top-left-radius:6px;border-bottom-left-radius:6px}
.pager-lg>li:last-child>a,.pager-lg>li:last-child>span{border-top-right-radius:6px;border-bottom-right-radius:6px}
.pager-sm>li>a,.pager-sm>li>span{padding:2px 8px;font-size:12px}
.pager-sm>li:first-child>a,.pager-sm>li:first-child>span{border-top-left-radius:3px;border-bottom-left-radius:3px}
.pager-sm>li:last-child>a,.pager-sm>li:last-child>span{border-top-right-radius:3px;border-bottom-right-radius:3px}
.pager-pills>li:first-child>a,.pager-pills>li:first-child>span{border-radius:16px 0 0 16px}
.pager-pills>li:last-child>a,.pager-pills>li:last-child>span{border-radius:0 16px 16px 0}
.pager-pills.pager-justify>li>a,.pager-pills.pager-justify>li>span{border-radius:16px}
.pager-loose{display:block;margin:20px 0}
.pager-loose.pager-pills>li>a,.pager-loose.pager-pills>li>span{border-radius:16px}
.pager-loose>li>a,.pager-loose>li>span{margin-left:5px;border-radius:4px}
.pager-loose>li:first-child>a,.pager-loose>li:first-child>span{margin-left:0}