<?xml version="1.0"?>
<appSettings>
  
  <add key="PageSize" value="10" />
  
  <add key ="ErrorMsg" value="Error Internet"/>
 
  <add key="FilePath" value="/uploadfile/" />
   
  <add key="ExcelExport" value="\UpLoad\ImportExcel\"/>
 
  <add key="ImageUrl" value="/httpAllFile/MR.jpg" />
  <add key="uploaddir" value="webupload" />
  <add key="AppID" value="" />
  <add key="AppSecret" value="" />
  <add key="BaiDuAK" value="cL0ad67GOvwK732OnxB0B5Sy"/>
  <add key="MySign" value="8ABC7DLO5MN6Z9EFGdeJfghijkHIVrstuvwWSTUXYabclmnopqKPQRxyz01234"/>

</appSettings>