@model WebManager.MyPageInfo<WebModel.SaiShi> 
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    @Styles.Render("~/bundles/css")
    @Styles.Render("~/iconfont/css")
    @Scripts.Render("~/bundles/js")
</head>
<body>

    <div class="place">
        <span>Position : </span>
        <ul class="placeul">
             <li>Match Manger</li>
        </ul>
    </div>

    <div class="rightinfo">
        <ul class="toolbar">
                <li class="click" onclick="javascript: location.href = '/SaiShi/EditSaiShi?id=0'"><span><img src="~/images/t01.png" /></span>Add</li>
        </ul>
        <div id="list">
            @Html.Partial("Index_Partial", Model)
        </div>
    </div>
    </body>
</html>
